.env
.env*.local

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env*.local

arbitrum_capstone/forum_dapp/.env
arbitrum_capstone/forum_dapp/.env*.local

arbitrum_capstone/frontend/.env
arbitrum_capstone/frontend/.env*.local

